.flex-container {
    left: 30%;
    width: 50%;

    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 40%;
    height:90%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  